<!-- NAVBAR -->
<nav class="bg-red-700 text-white p-4">
   <div class="container mx-auto flex justify-between items-center">
      <button class="btn btn-ghost text-2xl" routerLink="articles">MFNews</button>
      <div>
         @if (showNewArticleButton()) {
         <button class="bg-white hover:bg-gray-100 text-red-500 py-2 px-4 rounded font-bold" routerLink="articles/new">
            New Article
         </button>
         }
         @if(showEditDeleteArticlesButtons()) {
         <button class="bg-white hover:bg-gray-100 text-red-500 py-2 px-4 rounded font-bold"
            [routerLink]="['/articles', currentId(), 'edit']"> Edit Article </button>
         <button class="bg-white hover:bg-gray-100 text-red-500 py-2 px-4 rounded ml-4 font-bold"
            [routerLink]="['/articles', currentId(), 'delete']"> Delete Article </button>
         }
      </div>
   </div>
</nav>
