@if (article) {
<div class="flex-col">
   <h1 class="text-4xl font-bold hover:cursor-pointer" [routerLink]="['/articles', article.id]">
      {{ article.title }}
   </h1>
   <p class="text-xl pt-6 hover:cursor-pointer" [routerLink]="['/articles', article.id]">{{ article.subtitle }} </p>
   <img [src]="article.imageUrl || 'https://placehold.co/1080x500?text=No+image'"
      class="rounded-lg object-fit shadow-2xl pt-2 hover:cursor-pointer" [routerLink]="['/articles', article.id]" />
   <div class="flex flex-wrap justify-between mt-4">
      <p class="text-left pt-1 text-slate-600">{{ article.subtitle }} </p>
      <p class="text-right pt-1 text-slate-600">
         <span class="font-bold">Updated:</span> {{ article.updatedAt }}
      </p>
   </div>
   <p class="text-xl font-bold mt-6">{{ article.author }}</p>
   <p class="py-3 text-xl break-words">
      {{ article.description }}
   </p>
</div>

@if (action() === 'edit') {
<app-edit-article [article]="article" (close)="closeModal()" (articleUpdated)="onArticleUpdated($event)" />
}

@if (action() === 'delete') {
<app-delete-article [article]="article" (close)="closeModal()" (articleDeleted)="onArticleDeleted()" />
}

} @else {
<p class="text-red-500 text-2xl">No article could not be found.</p>
<button class="btn bg-gray-100 text-orange-500 w-40 hover:bg-orange-100 mt-2" [routerLink]="['/']"> Go to Home
   Page</button>
}
