<div class="hero">
   <div class="flex-col">
      <h1 class="text-4xl font-bold">
         Kansas basketball hires former NBA star, coach Jacque Vaughn as assistant under Bill Self
      </h1>
      <p class="text-xl pt-6">This would be Vaughn's first role in college coaching</p>
      <img
         src="https://sportshub.cbsistatic.com/i/r/2020/07/02/5357cc4a-8070-4b88-af03-324d208b889f/thumbnail/1200x675/b6db33182895e2d61dcb8b17153ea52b/jacque-vaughn.jpg"
         class="rounded-lg shadow-2xl pt-2" />
      <div class="flex justify-between">
         <p class="text-left pt-1 text-slate-600">This would be Vaughn's first role in college coaching </p>
         <p class="text-right pt-1 text-slate-600"><span class="font-bold">Updated:</span> 2025-05-21T19:51:00Z</p>
      </div>
      <p class="text-xl font-bold mt-4">CBS Sports</p>
      <p class="py-3 text-xl">
         Former NBA star and coach Jacque Vaughn is taking his talents to college basketball. Kansas is set to hire
         the two-time NBA head coach as an assistant basketball coach, according to ESPN. Kansas head coach Bill Self
         had a role to fill with the retire... [1369 chars]
      </p>
   </div>
</div>
