<div class="grid grid-rows-[auto_1fr_auto] min-h-screen">

   <!-- NAVBAR -->
   <header>
      <nav class="bg-red-700 text-white p-4">
         <div class="container mx-auto flex justify-between items-center">
            <span class="text-xl font-semibold">News App</span>
         </div>
      </nav>
   </header>

   <div class="grid lg:grid-cols-[3fr_1fr] mx-8">
      <!-- CONTENT -->
      <main class="p-4 bg-gray-300 gap-4">
         <router-outlet></router-outlet>
      </main>
      <!-- SIDEBAR -->
      <aside class="bg-gray-200 text-white p-4 hidden lg:block">
      </aside>
   </div>
</div>
