<form (submit)="onSubmit()" [formGroup]="form" class="space-y-4 lg:space-y-6">

   <div class="form-control">
      <label class="label"> <span class="label-text font-bold">Image Url</span> </label>
      <input type="url" placeholder="https://example.com/article" class="input input-bordered w-full"
         formControlName="imageUrl" />
      @if (f['imageUrl'].touched && f['imageUrl'].invalid) {
      <span class="text-red-500 text-sm"> Must be a valid url. It should start with http:// or https://. </span>
      }
   </div>

   <div class="form-control">
      <label class="label"> <span class="label-text font-bold">Author</span> </label>
      <input type="text" placeholder="Author name" class="input input-bordered w-full" required
         formControlName="author" />
      @if (f['author'].touched && f['author'].invalid) {
      <span class="text-red-500 text-sm"> Author is required. </span>
      }
   </div>

   <div class="form-control">
      <label class="label"> <span class="label-text font-bold">Title</span> </label>
      <input type="text" placeholder="Article title" class="input input-bordered w-full" required
         formControlName="title" />
      @if (f['title'].touched && f['title'].invalid) {
      <span class="text-red-500 text-sm"> Title is required and must be at least 5 characters long. </span>
      }
   </div>

   <div class="form-control">
      <label class="label"> <span class="label-text font-bold">Subtitle</span> </label>
      <input type="text" placeholder="Article subtitle" class="input input-bordered w-full" required
         formControlName="subtitle" />
      @if (f['subtitle'].touched && f['subtitle'].invalid) {
      <span class="text-red-500 text-sm"> Subtitle is required and must be at least 5 characters long. </span>
      }
   </div>

   <div class="form-control">
      <label class="label"> <span class="label-text font-bold">Description</span> </label>
      <textarea placeholder="Write a description about the article..." class="textarea textarea-bordered w-full"
         rows="4" required formControlName="description"></textarea>
      @if (f['description'].touched && f['description'].invalid) {
      <span class="text-red-500 text-sm"> Description is required and must be at least 100 characters long. </span>
      }
   </div>

   <!---- Action Buttons -->
   <div class="flex flex-row justify-end gap-4">
      <button type="button" class="btn bg-white text-orange-500 w-40 hover:bg-orange-50" (click)="onClose()"> Cancel
      </button>
      <button type="submit" class="btn bg-orange-500 text-white w-40 hover:bg-orange-600"> Save </button>
   </div>
</form>
