<dialog #modal class="modal" role="dialog" (keydown)="onKeyDown($event)">
   <div class="modal-box max-w-xl mx-auto p-6 bg-base-100 shadow-xl rounded-2xl">
      <h3 class="font-bold text-xl mb-4 text-left text-red-500"> Delete Article </h3>
      <div class="w-full">
         <form (submit)="onSubmit()" class="space-y-4 lg:space-y-6">
            <div>Are you sure you want to delete the article with id {{ article?.id }}?</div>
            <div class="flex flex-row justify-end gap-4">
               <button type="button" class="btn bg-white text-orange-500 w-40 hover:bg-orange-50" (click)="onClose()">
                  No
               </button>
               <button type="submit" class="btn bg-orange-500 text-white w-40 hover:bg-orange-600"> Yes, delete
               </button>
            </div>
         </form>
      </div>
   </div>
</dialog>
